# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Docker
*.env  # если у тебя есть Docker env файлы
docker-compose.override.yml

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# coverage reports
htmlcov/
.coverage

# Celery
celerybeat-schedule
